
<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>TheTitleHere</title>
    </head>
    
    <body>
        <h1>Paul says DODDLE...</h1>
        
        <div>
            This tutorial has been put together by Paul Hall. <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{{ MEDIA_URL}}cat.jpg"
                alt="Picture of CAT" /> <!-- New line -->
        </div>
    </body>
    
</html>